
style.
    div {
    width: 20%;
    height: auto;
    text-align: center;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(235, 231, 231);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    ul {
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    }
    li {
    background-color: rgba(146, 213, 113, 0.743);
    padding: 10px 0px;
    margin-bottom:3px;
    border-radius: 5px;
    }
    input{
        padiding:10px;
        margin:10px
    }

head
body
  div
    ul
      each val in list
        li
          input(type="checkbox")
          span= val.title

                    